rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
  
  	// Avatar
    match /avatars/{userId}/{imageId} {
      allow write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null;
    }
    
    // Post
    match /posts/{userId}/{imageId} {
      allow write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null;
    }
  }
}